src/main/resources/schemas/XMLSchema_290342992.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://telefonica.com/globalIntegration/services/QueryPurchasedOffering/v1" xmlns:p1="http://telefonica.com/globalIntegration/services/QueryPurchasedOffering/v1" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<annotation>
		<documentation>Hada invoke service in the OSB to query details of subscriber’s purchased offerings.

Functional Gap to be Fulfilled
To Query details of subscriber’s purchased offerings. (type definition)- Generated by TER - 2017.08.11 23:48:34 - NOT CHANGE - NO MODIFICAR A MANO </documentation>
	</annotation>

	<xsd:element name="queryPurchasedOfferingRequest" type="p1:queryPurchasedOfferingRequestType"/>
	<xsd:element name="queryPurchasedOfferingResponse" type="p1:queryPurchasedOfferingResponseType"/>

	<xsd:complexType name="queryPurchasedOfferingRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				This is the input interface of 'queryPurchasedOffering' operation. The first level fields are:
					- reqBodyQPOItem: Request
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="reqBodyQPOItem" type="p1:reqBodyQPOItemType" minOccurs="1" maxOccurs="1" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="queryPurchasedOfferingResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				This is the output interface of 'queryPurchasedOffering' operation. The first level fields are:
					- rspBodyQPOItem: rspBodyQPOItem
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="rspBodyQPOItem" type="p1:rspBodyQPOItemType" minOccurs="1" maxOccurs="1" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="reqBodyQPOItemType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				Request

				Functional struct: The business concepts contained are
					- requestChoiceQPOItem: Request Choice Group
					- secondReqFlag: Second request flag (whether need to check with PCO again with supplementary offering) (similar concept that SID attribute defined by 'p1:interactionStatusBusinessInteractionType')
					- categoryProductOffering: Offering Category (similar concept that SID attribute defined by 'p1:descriptionProductOfferingType')
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestChoiceQPOItem" type="p1:requestChoiceQPOItemType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xsd:element name="secondReqFlag" type="p1:interactionStatusBusinessInteractionType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="categoryProductOffering" type="p1:descriptionProductOfferingType" minOccurs="0" maxOccurs="1" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="rspBodyQPOItemType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				rspBodyQPOItem

				Functional struct: The business concepts contained are
					- offeringInstanceQPOItem: offeringInstanceQPOItem
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="offeringInstanceQPOItem" type="p1:offeringInstanceQPOItemType" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="requestChoiceQPOItemType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				Request Choice Group

				Functional struct: The business concepts contained are
					- IDCustomer: This field is a SID attribute. See 'p1:IDCustomerType' definition
					- primaryTelephoneNumber: Primary telephone Number, sinonimo de numberTelephoneNumber (similar concept that SID attribute defined by 'p1:numberTelephoneNumberType')
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="IDCustomer" type="p1:IDCustomerType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xsd:element name="primaryTelephoneNumber" type="p1:numberTelephoneNumberType" minOccurs="1" maxOccurs="1" nillable="false"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="interactionStatusBusinessInteractionType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				The current condition of an interaction, such as open, in research, closed, and so forth.

				SID Definition: Common Business Entities Domain::Business Interaction ABE::BusinessInteraction::interactionStatus
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="descriptionProductOfferingType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				A narrative that explains what the offering is.

				SID Definition: Product Domain::Product Offering ABE::ProductOffering::description
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="offeringInstanceQPOItemType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				offeringInstanceQPOItem

				Functional struct: The business concepts contained are
					- idBundledProductOffering: This field is a SID attribute. See 'p1:idProductOfferingType' definition
					- idParameter: The key or parameter name.Example: transactionId (similar concept that SID attribute defined by 'p1:interactionStatusBusinessInteractionType')
					- nameProductOffering: This field is a SID attribute. See 'p1:nameProductOfferingType' definition
					- shortNameProductOffering: Offering short name. (similar concept that SID attribute defined by 'p1:nameProductOfferingType')
					- offeringDescriptionInfo: Offering description. (similar concept that SID attribute defined by 'p1:partyRoleIdPartyRoleType')
					- brandInfo: Offering brand. (similar concept that SID attribute defined by 'p1:partyRoleIdPartyRoleType')
					- categoryProductOffering: Offering Category (similar concept that SID attribute defined by 'p1:descriptionProductOfferingType')
					- secondReqFlag: Second request flag (whether need to check with PCO again with supplementary offering) (similar concept that SID attribute defined by 'p1:interactionStatusBusinessInteractionType')
					- secondReqAuxFlag: secondReqAuxFlag (similar concept that SID attribute defined by 'p1:objectIDRootEntityType')
					- interactionStatusBusinessInteraction: This field is a SID attribute. See 'p1:interactionStatusBusinessInteractionType' definition
					- statusDetailInfo: Details of offering instance status. (similar concept that SID attribute defined by 'p1:partyRoleIdPartyRoleType')
					- customerStatusTime: Customer Status modification time (similar concept that SID attribute defined by 'p1:startDateTimeTimePeriodType')
					- relaPrimaryOfferingInstanceIdInfo: The identifier of related primary offering instance. (similar concept that SID attribute defined by 'p1:objectIDRootEntityType')
					- parentIdInfo: The identifier of parent offering instance. (similar concept that SID attribute defined by 'p1:objectIDRootEntityType')
					- startDateTimeTimePeriod: This field is a SID attribute. See 'p1:startDateTimeTimePeriodType' definition
					- endDateTimeTimePeriod: This field is a SID attribute. See 'p1:endDateTimeTimePeriodType' definition
					- salesInformationQPOItem: salesInformationQPOItem
					- propertyQPOItem: propertyQPOItem
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idBundledProductOffering" type="p1:idProductOfferingType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xsd:element name="idParameter" type="p1:interactionStatusBusinessInteractionType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xsd:element name="nameProductOffering" type="p1:nameProductOfferingType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="shortNameProductOffering" type="p1:nameProductOfferingType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="offeringDescriptionInfo" type="p1:partyRoleIdPartyRoleType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="brandInfo" type="p1:partyRoleIdPartyRoleType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="categoryProductOffering" type="p1:descriptionProductOfferingType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="secondReqFlag" type="p1:interactionStatusBusinessInteractionType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xsd:element name="secondReqAuxFlag" type="p1:objectIDRootEntityType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xsd:element name="interactionStatusBusinessInteraction" type="p1:interactionStatusBusinessInteractionType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xsd:element name="statusDetailInfo" type="p1:partyRoleIdPartyRoleType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="customerStatusTime" type="p1:startDateTimeTimePeriodType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="relaPrimaryOfferingInstanceIdInfo" type="p1:objectIDRootEntityType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="parentIdInfo" type="p1:objectIDRootEntityType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="startDateTimeTimePeriod" type="p1:startDateTimeTimePeriodType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="endDateTimeTimePeriod" type="p1:endDateTimeTimePeriodType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="salesInformationQPOItem" type="p1:salesInformationQPOItemType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="propertyQPOItem" type="p1:propertyQPOItemType" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="IDCustomerType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				A unique identifier.

				SID Definition: Customer Domain::Customer ABE::Customer::ID
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="numberTelephoneNumberType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				A number assigned to a particular telephone and used in making connections to it.

				SID Definition: Engaged Party Domain (PRELIMINARY)::Party ABE::Contact ABE::TelephoneNumber::number
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="idProductOfferingType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				A unique identifier for the ProductOffering.

				SID Definition: Product Domain::Product Offering ABE::ProductOffering::id
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="nameProductOfferingType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				A word, term, or phrase by which the ProductOffeirng is known and distinguished from other ProductOfferings.

				SID Definition: Product Domain::Product Offering ABE::ProductOffering::name
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="partyRoleIdPartyRoleType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				Unique identifier for PartyRoles

				SID Definition: Engaged Party Domain (PRELIMINARY)::Party ABE::PartyRole::partyRoleId
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="objectIDRootEntityType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				Unambiguously distinguishes different object instances. It is the naming attribute of the object.

				SID Definition: Common Business Entities Domain::Root Business Entities ABE::RootEntity::objectID
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="startDateTimeTimePeriodType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				An instant of time, starting at the TimePeriod

Notes:
If null, then represents to the beginning of time

				SID Definition: Common Business Entities Domain::Base Types ABE::TimePeriod::startDateTime
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="endDateTimeTimePeriodType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				An instant of time, ending at the TimePeriod:

Notes:
If null, then represents to the end of time

				SID Definition: Common Business Entities Domain::Base Types ABE::TimePeriod::endDateTime
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="salesInformationQPOItemType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				salesInformationQPOItem

				Functional struct: The business concepts contained are
					- SalesManagerID: Identifier of sale manager. (similar concept that SID attribute defined by 'p1:objectIDRootEntityType')
					- channelTypeInfo: channelTypeInfo (similar concept that SID attribute defined by 'p1:objectIDRootEntityType')
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SalesManagerID" type="p1:objectIDRootEntityType" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="channelTypeInfo" type="p1:objectIDRootEntityType" minOccurs="0" maxOccurs="1" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="propertyQPOItemType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				propertyQPOItem

				Functional struct: The business concepts contained are
					- idParameter: The key or parameter name.Example: transactionId (similar concept that SID attribute defined by 'p1:interactionStatusBusinessInteractionType')
					- valueParameter: Value for previous parameter (similar concept that SID attribute defined by 'p1:descriptionBusinessInteractionType')
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idParameter" type="p1:interactionStatusBusinessInteractionType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xsd:element name="valueParameter" type="p1:descriptionBusinessInteractionType" minOccurs="0" maxOccurs="1" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="descriptionBusinessInteractionType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				Narrative that explains the interaction and details about the interaction, such as why the interaction is taking place.

				SID Definition: Common Business Entities Domain::Business Interaction ABE::BusinessInteraction::description
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</schema>